In [1]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore") #se desactivan las alertas
pd.set_option('display.width', 1000) #se da formato a los datos numeros de los dataframes
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
cr=pd.read_csv('/home/ezzzgame/Desktop/DATASETS/CLAIMS.csv')

In [3]:
cr.head()

     reclamacion  tramite  REGISTRO   PROMESA  NUMCHQ  CONCHQ TIPPAG   IMPDED  IMPCOA    IMPREC  ...  DEDINT  UNDINT  COA   OFN        POL TIPPRV                 NOMPRV SECTOR                   BENEFICIARIO  SLR_OFN_REO
0  2009-06G09774        6       NaN       NaN  219440      71     PA     0.00  259.96      0.00  ...    1.00      ND  10% 23.00 531,280.00     RE                    NaN    NaN  CORONA HERNANDEZ MARIA ANDREA        23.00
1  2010-06G00633        4       NaN       NaN  221059      71     PA 1,908.17    0.00      0.00  ...    1.00      ND  10% 23.00 531,280.00     RE                    NaN    NaN     RAMOS RAMIREZ JUAN GABRIEL        23.00
2  2014-01G22364        1 41,930.00 41,931.00   31570      75     TE     0.00    0.00 21,569.06  ...    1.00      ND  10% 32.00 459,867.00   Hosp    SANATORIO FLORENCIA    NaN                            NaN        55.00
3  2015-01G21244        1 42,242.00 42,243.00  261167      75     TE     0.00    0.00 15,870.60  ...    1.00      ND  10% 32.00 463,880.00   Hosp    SANATORIO FLORENCIA    NaN                            NaN        55.00
4  2015-01G21244        1 42,242.00 42,243.00  256437      75     TE     0.00    0.00  2,010.00  ...    1.00      ND  10% 32.00 463,880.00     HM  ZARATE GARCIA GABRIEL    NaN                            NaN        55.00

[5 rows x 79 columns]

In [4]:
cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7693 entries, 0 to 7692
Data columns (total 79 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   reclamacion   7693 non-null   object
 1   tramite       7693 non-null   int64
 2   REGISTRO      7687 non-null   float64
 3   PROMESA       7687 non-null   float64
 4   NUMCHQ        7693 non-null   int64
 5   CONCHQ        7693 non-null   int64
 6   TIPPAG        7693 non-null   object
 7   IMPDED        7693 non-null   float64
 8   IMPCOA        7693 non-null   float64
 9   IMPREC        7693 non-null   float64
 10  IMPPAG        7693 non-null   float64
 11  IMPIVA        7693 non-null   float64
 12  IMPISR        7693 non-null   float64
 13  IMPNCBT       7693 non-null   float64
 14  IMPNET        7693 non-null   float64
 15  EST_PAGO      7693 non-null   object
 16  PER_CNT       7693 non-null   int64
 17  PADINI        7686 non-null   object
 18  MAT/ENF/ACC   7693 non-null   object
 19  FECDIC        7687 non-null   float64
 20  CERTIFICADO   7693 non-null   object
 21  ASEGURADO     7693 non-null   object
 22  FECANT        7689 non-null   float64
 23  SEXO          7689 non-null   object
 24  FECNAC        7689 non-null   float64
 25  PARENTESCO    7689 non-null   object
 26  TITDEP        7689 non-null   object
 27  FECPAG        7693 non-null   int64
 28  mes año       7693 non-null   int64
 29  vigencia      7693 non-null   object
 30  PGCEOAFE      7693 non-null   int64
 31  PGCEOPAG      7693 non-null   int64
 32  MODALIDAD     7693 non-null   object
 33  PGSLRNUM      7693 non-null   int64
 34  ICD           7688 non-null   object
 35  DSCDICD       7693 non-null   object
 36  ENF/MAT/ACC   7693 non-null   object
 37  PGFECGAS      7693 non-null   int64
 38  TIP_EVE       7693 non-null   object
 39  PGFECING      3716 non-null   float64
 40  PGFECEGE      2599 non-null   float64
 41  FECINISI      7693 non-null   int64
 42  POLCOB        7693 non-null   int64
 43  POLORI        7693 non-null   int64
 44  PEINIVIG      7693 non-null   int64
 45  PEFINVIG      7693 non-null   int64
 46  AGENTE        7693 non-null   int64
 47  NOMAGT        7693 non-null   object
 48  SUBSUBCO      7693 non-null   int64
 49  PLAN          7693 non-null   object
 50  NIVHOS        7693 non-null   int64
 51  CIRIND        7693 non-null   object
 52  FOLIO_PAGO    7693 non-null   int64
 53  RFCHOSPDIC    6589 non-null   object
 54  RFCMED        4280 non-null   object
 55  RFCPRV        4735 non-null   object
 56  NOMHOSDIC     6082 non-null   object
 57  NOMMED        4216 non-null   object
 58  RFC_CONT      7693 non-null   object
 59  EMPRESA       7693 non-null   object
 60  TIP_RECL      7693 non-null   object
 61  POOL          7693 non-null   object
 62  TCCODBEN      7693 non-null   object
 63  COB_AFE       7606 non-null   object
 64  DES_COB_AFE   7606 non-null   object
 65  SUMASE        7660 non-null   float64
 66  UNDSUM        7660 non-null   object
 67  DEDNAC        7660 non-null   float64
 68  UNDNAC        7660 non-null   object
 69  DEDINT        7660 non-null   float64
 70  UNDINT        7660 non-null   object
 71  COA           7660 non-null   object
 72  OFN           7660 non-null   float64
 73  POL           7660 non-null   float64
 74  TIPPRV        7491 non-null   object
 75  NOMPRV        4527 non-null   object
 76  SECTOR        7483 non-null   object
 77  BENEFICIARIO  2001 non-null   object
 78  SLR_OFN_REO   5468 non-null   float64
dtypes: float64(21), int64(19), object(39)
memory usage: 4.6+ MB

In [5]:
cr[cr.duplicated(keep=False)]

Empty DataFrame
Columns: [reclamacion, tramite, REGISTRO, PROMESA, NUMCHQ, CONCHQ, TIPPAG, IMPDED, IMPCOA, IMPREC, IMPPAG, IMPIVA, IMPISR, IMPNCBT, IMPNET, EST_PAGO, PER_CNT, PADINI, MAT/ENF/ACC, FECDIC, CERTIFICADO, ASEGURADO, FECANT, SEXO, FECNAC, PARENTESCO, TITDEP, FECPAG, mes año, vigencia, PGCEOAFE, PGCEOPAG, MODALIDAD, PGSLRNUM, ICD, DSCDICD, ENF/MAT/ACC, PGFECGAS, TIP_EVE, PGFECING, PGFECEGE, FECINISI, POLCOB, POLORI, PEINIVIG, PEFINVIG, AGENTE, NOMAGT, SUBSUBCO, PLAN, NIVHOS, CIRIND, FOLIO_PAGO, RFCHOSPDIC, RFCMED, RFCPRV, NOMHOSDIC, NOMMED, RFC_CONT, EMPRESA, TIP_RECL, POOL, TCCODBEN, COB_AFE, DES_COB_AFE, SUMASE, UNDSUM, DEDNAC, UNDNAC, DEDINT, UNDINT, COA, OFN, POL, TIPPRV, NOMPRV, SECTOR, BENEFICIARIO, SLR_OFN_REO]
Index: []

[0 rows x 79 columns]

In [6]:
cr[(cr['SEXO']=='M')&(cr['MAT/ENF/ACC']=='ENF')]

        reclamacion  tramite  REGISTRO   PROMESA  NUMCHQ  CONCHQ TIPPAG   IMPDED   IMPCOA    IMPREC  ...  DEDINT  UNDINT  COA   OFN        POL TIPPRV                          NOMPRV   SECTOR                  BENEFICIARIO  SLR_OFN_REO
1     2010-06G00633        4       NaN       NaN  221059      71     PA 1,908.17     0.00      0.00  ...    1.00      ND  10% 23.00 531,280.00     RE                             NaN      NaN    RAMOS RAMIREZ JUAN GABRIEL        23.00
2     2014-01G22364        1 41,930.00 41,931.00   31570      75     TE     0.00     0.00 21,569.06  ...    1.00      ND  10% 32.00 459,867.00   Hosp             SANATORIO FLORENCIA      NaN                           NaN        55.00
61    2015-01G20598        1 42,235.00 42,242.00  219055      75     TE 2,103.00    59.70  3,175.13  ...    1.00      ND  10% 32.00 463,880.00     RE                             NaN      NaN    RAMOS RAMIREZ JUAN GABRIEL        23.00
62    2015-01G16018        2 42,198.00 42,205.00  189933      75     TE 2,103.00 1,524.68 20,099.80  ...    1.00      ND  10% 32.00 463,880.00     RE                             NaN      NaN           GARCIA GALVAN PEDRO        23.00
65    2011-02G04516        1 40,844.00 40,845.00  513734      71     TE     0.00     0.00  1,970.00  ...    1.00      ND   7% 12.00 510,564.00     HM  GONZALEZ ESTRADA ALBERTO JORGE      NaN                           NaN        55.00
...             ...      ...       ...       ...     ...     ...    ...      ...      ...       ...  ...     ...     ...  ...   ...        ...    ...                             ...      ...                           ...          ...
7688  2015-02G04788        2 42,242.00 42,284.00  655853      72     TE     0.00     0.00  7,890.73  ...    1.00      ND  10% 12.00 513,055.00     RE                             NaN  Privado  ZOZAYA DELANO JOSE GUILLERMO        43.00
7689  2015-02G04788        1 42,234.00 42,276.00  654695      72     TE     0.00     0.00 26,254.89  ...    1.00      ND  10% 12.00 513,055.00     RE                             NaN  Privado  ZOZAYA DELANO JOSE GUILLERMO        43.00
7690  2016-02C01263        2 42,433.00 42,440.00  679175      72     TE     0.00     0.00  3,000.00  ...    4.00      ND  15% 12.00 513,059.00     RE                             NaN  Privado  LOPEZ CAVAZOS RICARDO ADRIAN        12.00
7691  2016-02C01263        1 42,433.00 42,440.00  679174      72     TE     0.00     0.00  1,500.07  ...    4.00      ND  15% 12.00 513,059.00     RE                             NaN  Privado      AGUIRRE VAZQUEZ VERONICA        12.00
7692  2015-02G04788        3 42,297.00 42,304.00  664102      72     TE     0.00     0.00 11,091.41  ...    1.00      ND  10% 12.00 513,055.00     RE                             NaN  Privado  ZOZAYA DELANO JOSE GUILLERMO        12.00

[3092 rows x 79 columns]

In [7]:
cr[~(cr['SEXO']=='M')]

        reclamacion  tramite  REGISTRO   PROMESA  NUMCHQ  CONCHQ TIPPAG  IMPDED  IMPCOA    IMPREC  ...  DEDINT  UNDINT  COA   OFN        POL     TIPPRV                       NOMPRV   SECTOR                   BENEFICIARIO  SLR_OFN_REO
0     2009-06G09774        6       NaN       NaN  219440      71     PA    0.00  259.96      0.00  ...    1.00      ND  10% 23.00 531,280.00         RE                          NaN      NaN  CORONA HERNANDEZ MARIA ANDREA        23.00
3     2015-01G21244        1 42,242.00 42,243.00  261167      75     TE    0.00    0.00 15,870.60  ...    1.00      ND  10% 32.00 463,880.00       Hosp          SANATORIO FLORENCIA      NaN                            NaN        55.00
4     2015-01G21244        1 42,242.00 42,243.00  256437      75     TE    0.00    0.00  2,010.00  ...    1.00      ND  10% 32.00 463,880.00         HM        ZARATE GARCIA GABRIEL      NaN                            NaN        55.00
5     2009-06G09774       13 40,259.00 40,266.00  272339      71     TE    0.00  323.64  3,236.36  ...    1.00      ND  10% 23.00 531,280.00  Farmacias      FARMACOS ESPECIALIZADOS      NaN                            NaN        20.00
6     2009-06G09774       14 40,277.00 40,284.00  248257      71     PA    0.00    0.00      0.00  ...    1.00      ND  10% 23.00 531,280.00         RE                          NaN      NaN  CORONA HERNANDEZ MARIA ANDREA        23.00
...             ...      ...       ...       ...     ...     ...    ...     ...     ...       ...  ...     ...     ...  ...   ...        ...        ...                          ...      ...                            ...          ...
7683  2011-02G01053        1 40,624.00 40,625.00  415474      71     TE    0.00    0.00 61,896.45  ...    4.00      ND  15% 12.00 510,520.00       Hosp                ANGELES LOMAS  Privado                            NaN        55.00
7684  2011-02G01053        1 40,624.00 40,625.00  408137      71     TE    0.00    0.00  9,020.00  ...    4.00      ND  15% 12.00 510,520.00         HM     VALDES CASTANEDA ALBERTO  Privado                            NaN        55.00
7685  2013-02G00753        2 41,337.00 41,344.00  567714      72     TE    0.00    0.00  9,387.67  ...    6.00      ND  15% 12.00 511,332.00       Hosp             DOCTORS HOSPITAL  Privado                            NaN        12.00
7686  2013-02G00753        2 41,337.00 41,344.00  568766      72     TE    0.00    0.00  5,730.00  ...    6.00      ND  15% 12.00 511,332.00         HM   LEAL SALAZAR JORGE ALBERTO  Privado                            NaN        12.00
7687  2013-02G00753        2 41,337.00 41,344.00  573956      72     TE    0.00    0.00  1,719.00  ...    6.00      ND  15% 12.00 511,332.00         HM  DENEB ISAIAS LOERA GUTIRREZ  Privado                            NaN        12.00

[4138 rows x 79 columns]

In [8]:
claimsdetail1=cr['reclamacion'].unique()

In [9]:
claimsdetail1=pd.DataFrame(claimsdetail1).rename(columns={0:'claimnumber'})

In [10]:
claimsdetail1

        claimnumber
0     2009-06G09774
1     2010-06G00633
2     2014-01G22364
3     2015-01G21244
4     2017-01G13183
...             ...
1640  2010-02G03782
1641  2018-02G05107
1642  2011-02G01053
1643  2015-02G04788
1644  2016-02C01263

[1645 rows x 1 columns]

In [11]:
claimsdetail1['mount']=0
claimsdetail1

        claimnumber  mount
0     2009-06G09774      0
1     2010-06G00633      0
2     2014-01G22364      0
3     2015-01G21244      0
4     2017-01G13183      0
...             ...    ...
1640  2010-02G03782      0
1641  2018-02G05107      0
1642  2011-02G01053      0
1643  2015-02G04788      0
1644  2016-02C01263      0

[1645 rows x 2 columns]

In [12]:
claimsdetail1.loc[0,"claimnumber"]

'2009-06G09774'

In [13]:
range(len(claimsdetail1))

range(0, 1645)

In [14]:
for i in range(len(claimsdetail1)):
    
    claim=claimsdetail1.loc[i,'claimnumber']
    
    suma=cr.loc[cr['reclamacion']==claim,'IMPPAG'].sum()

    claimsdetail1.loc[i,'mount']=suma

In [15]:
claimsdetail1

        claimnumber      mount
0     2009-06G09774 121,929.98
1     2010-06G00633  14,467.50
2     2014-01G22364  20,028.65
3     2015-01G21244  16,798.44
4     2017-01G13183  89,150.19
...             ...        ...
1640  2010-02G03782   3,248.01
1641  2018-02G05107  30,628.45
1642  2011-02G01053  67,418.00
1643  2015-02G04788  45,237.03
1644  2016-02C01263   4,500.07

[1645 rows x 2 columns]

In [17]:
f1=cr[cr['reclamacion']=='2009-06G09774']
f1[['reclamacion','DSCDICD']]

       reclamacion                                            DSCDICD
0    2009-06G09774                                                ...
5    2009-06G09774  LEIOMIOMA UTERINO                             ...
6    2009-06G09774  LEIOMIOMA UTERINO                             ...
7    2009-06G09774  LEIOMIOMA UTERINO                             ...
8    2009-06G09774  LEIOMIOMA UTERINO                             ...
9    2009-06G09774  LEIOMIOMA UTERINO                             ...
10   2009-06G09774  LEIOMIOMA UTERINO                             ...
11   2009-06G09774  LEIOMIOMA UTERINO                             ...
12   2009-06G09774  LEIOMIOMA UTERINO                             ...
13   2009-06G09774  LEIOMIOMA UTERINO                             ...
207  2009-06G09774  MIOMA                                         ...
208  2009-06G09774  MIOMA                                         ...
209  2009-06G09774  MIOMA                                         ...

In [18]:
claimsdetail1=claimsdetail1.rename(columns={'claimnumber':'reclamacion'})

In [19]:
claimsdetail1

        reclamacion      mount
0     2009-06G09774 121,929.98
1     2010-06G00633  14,467.50
2     2014-01G22364  20,028.65
3     2015-01G21244  16,798.44
4     2017-01G13183  89,150.19
...             ...        ...
1640  2010-02G03782   3,248.01
1641  2018-02G05107  30,628.45
1642  2011-02G01053  67,418.00
1643  2015-02G04788  45,237.03
1644  2016-02C01263   4,500.07

[1645 rows x 2 columns]

In [20]:
pd.merge(claimsdetail1,cr[['reclamacion','DSCDICD']],on='reclamacion',how='left')

        reclamacion      mount                                            DSCDICD
0     2009-06G09774 121,929.98                                                ...
1     2009-06G09774 121,929.98  LEIOMIOMA UTERINO                             ...
2     2009-06G09774 121,929.98  LEIOMIOMA UTERINO                             ...
3     2009-06G09774 121,929.98  LEIOMIOMA UTERINO                             ...
4     2009-06G09774 121,929.98  LEIOMIOMA UTERINO                             ...
...             ...        ...                                                ...
7688  2015-02G04788  45,237.03  OBSERVACION Y EVALUACION DE PRESUNTAS ENFERMED...
7689  2015-02G04788  45,237.03  OBSERVACION Y EVALUACION DE PRESUNTAS ENFERMED...
7690  2015-02G04788  45,237.03  OBSERVACION PARA PRESUNTA ENFERMEDAD MENTAL   ...
7691  2016-02C01263   4,500.07  OBSERVACION Y EVALUACION DE PRESUNTAS ENFERMED...
7692  2016-02C01263   4,500.07  OBSERVACION Y EVALUACION DE PRESUNTAS ENFERMED...

[7693 rows x 3 columns]

In [29]:
cr.groupby(['reclamacion','DSCDICD']).agg({'IMPPAG':'sum'})

                                                                    IMPPAG
reclamacion   DSCDICD
2002-34G05419 HIPERTENSION                                   ...  1,270.35
              HIPERTENSION ESENCIAL                          ... 11,866.63
2008-02G05146 TRASTORNOS DE REFRACCION Y DE ACOMODACION      ...  1,075.00
2008-02G05153 ABANDONO/FALTA CUIDADOS DE NIÑOS Y PACIENTES IM...  1,709.03
              ESGUINCE/TORCEDURA DE TOBILLO                  ...  1,905.60
...                                                                    ...
2018-02G04513 PARTO MEDIANTE CESAREA, SIN MENCION DE INDICACI... 15,110.05
2018-02G04561 CONTUSION SIN PERDIDA DE CONOCIMIENTO          ... 12,237.69
2018-02G04606 APENDICITIS AGUDA                              ... 76,571.46
2018-02G05053 OTRAS INFECCIONES VIRALES ESPECIFICADAS        ...  2,470.00
2018-02G05107 EXAMEN MEDICO GENERAL                          ... 30,628.45

[2102 rows x 1 columns]

In [42]:
cr.groupby(['reclamacion','DSCDICD']).agg({'IMPPAG':'sum'}).reset_index()

        reclamacion                                            DSCDICD    IMPPAG
0     2002-34G05419  HIPERTENSION                                  ...  1,270.35
1     2002-34G05419  HIPERTENSION ESENCIAL                         ... 11,866.63
2     2008-02G05146  TRASTORNOS DE REFRACCION Y DE ACOMODACION     ...  1,075.00
3     2008-02G05153  ABANDONO/FALTA CUIDADOS DE NIÑOS Y PACIENTES I...  1,709.03
4     2008-02G05153  ESGUINCE/TORCEDURA DE TOBILLO                 ...  1,905.60
...             ...                                                ...       ...
2097  2018-02G04513  PARTO MEDIANTE CESAREA, SIN MENCION DE INDICAC... 15,110.05
2098  2018-02G04561  CONTUSION SIN PERDIDA DE CONOCIMIENTO         ... 12,237.69
2099  2018-02G04606  APENDICITIS AGUDA                             ... 76,571.46
2100  2018-02G05053  OTRAS INFECCIONES VIRALES ESPECIFICADAS       ...  2,470.00
2101  2018-02G05107  EXAMEN MEDICO GENERAL                         ... 30,628.45

[2102 rows x 3 columns]